auto-save-list/
eshell/
ido.last
packages/*
request/
server/
url/

.mc-lists.el
ac-comphist.dat
network-security.data

!packages/color-theme
!packages/color-theme-random.el
!packages/last-closed-files.el
!packages/pabbrev.el
!packages/random-font.el
!packages/scratch.el
!packages/sc-emacs
!packages/sc-org
!packages/sc-slime
!packages/sc-sly
!packages/slime
!packages/snippets

!packages/magit-1.4.2
