[submodule "packages/magit"]
	path = packages/magit
	url = https://github.com/magit/magit.git
[submodule "packages/yasnippet"]
	path = packages/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "packages/git-modes"]
	path = packages/git-modes
	url = git://github.com/magit/git-modes
[submodule "packages/discover.el"]
	path = packages/discover.el
	url = git://github.com/mickeynp/discover.el
[submodule "packages/makey"]
	path = packages/makey
	url = git://github.com/mickeynp/makey
[submodule "packages/sc-sly"]
	path = packages/sc-sly
	url = git://gitorious.siscog/development-tools/sc-sly.git
[submodule "packages/slime"]
	path = packages/slime
	url = https://github.com/slime/slime.git
[submodule "packages/sc-emacs"]
	path = packages/sc-emacs
	url = git://gitorious.siscog/crews/sc-emacs.git
