auto-save-list/
eshell/
ido.last
packages/*
server/
url/

.mc-lists.el
ac-comphist.dat

!packages/color-theme
!packages/color-theme-random.el
!packages/discover.el
!packages/last-closed-files.el
!packages/pabbrev.el
!packages/scratch.el
!packages/sc-emacs
!packages/sc-org
!packages/sc-sly
!packages/slime
!packages/snippets

!packages/magit-1.4.2
